@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
body{ font-family: 'Open Sans', Arial, Helvetica, sans-serif; background-color: white;}
h1, h2, h3, nav, button { font-family: 'Roboto', Arial, Helvetica, sans-serif; }
footer, p{font-family: 'Open Sans', Arial, Helvetica, sans-serif;}
